.perfil-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .perfil-card {
    background-color: #b0e4e6e3;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 5px 5px 10px 10px rgba(123, 122, 122, 0.337);
    text-align: center;
    width: auto;
    font-size: larger;
  }
  
  .perfil-card h2 {
    margin-bottom: 1rem;
  }
  
  .perfil-card p {
    margin: 0.5rem 0;
  }
  