<body>
  <div class="wrapper">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h2>Login</h2>

      <!--email field-->
      <div class="input-field">
        <input formControlName="email" type="email" required />
        <label>Correo electronico</label>
        <div *ngIf="loginForm.controls['email']?.invalid && loginForm.controls['email']?.touched" class="error">
          <small *ngIf="loginForm.controls['email']?.hasError('required')">El correo electronico es obligatorio</small>
          <small *ngIf="loginForm.controls['email']?.hasError('email')">Ingrese un correo valido</small>
        </div>
      </div>

      <!--pasword field-->
      <div class="input-field">
        <input formControlName="password" type="password" required />
        <label>Contraseña</label>
        <div *ngIf="loginForm.controls['password']?.invalid && loginForm.controls['password']?.touched" class="error">
          <small *ngIf="loginForm.controls['password']?.hasError('required')">La contraseña es obligatoria</small>
          <small *ngIf="loginForm.controls['password']?.hasError('minlength')">La contraseña debe de ser de al menos 6 digitos</small>
        </div>
      </div>

        <!--Futuro recuperar contraseña mandando una clave por gmail e ingresandola-->
      <!-- <div class="forget">
        <label for="remember">
          <input formControlName="remember" type="checkbox" />
          <p>Remember me</p>
        </label>
        <a href="#">Forgot password?</a>
      </div> -->

      <button type="submit" [disabled]="loginForm.invalid">Log In</button>

      <div class="register">
        <p>¿No tienes ya una cuenta? <a routerLink="/register">Registrarse</a></p>
      </div>
    </form>
  </div>
</body>
