<body>
  <div class="wrapper">


    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h2>Iniciar Sesión</h2>

      <!-- Username field -->
      <div class="input-field">
        <input formControlName="username" type="text" required />
        <label>Nombre de usuario</label>
        <div *ngIf="loginForm.controls['username']?.invalid && loginForm.controls['username']?.touched" class="error">
          <small *ngIf="loginForm.controls['username']?.hasError('required')">El nombre de usuario es obligatorio</small>
        </div>
      </div>

      <!-- Password field -->
      <div class="input-field password-field">
        <input
          [type]="verPassword ? 'text' : 'password'"
          formControlName="password"
          required
        />
        <label>Contraseña</label>
        <i (click)="verPassword = !verPassword" class="toggle-password">
          {{ verPassword ? '🙈' : '👁️' }}
        </i>
        <div *ngIf="loginForm.controls['password']?.invalid && loginForm.controls['password']?.touched" class="error">
          <small *ngIf="loginForm.controls['password']?.hasError('required')">La contraseña es obligatoria</small>
          <small *ngIf="loginForm.controls['password']?.hasError('minlength')">La contraseña debe de ser de al menos 6 dígitos</small>
        </div>
      </div>

      <button type="submit" [disabled]="loginForm.invalid">Iniciar Sesión</button>

      <div class="register">
        <p>¿No tienes ya una cuenta? <a routerLink="/register">Registrarse</a></p>
      </div>
    </form>
  </div>
</body>
