<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"  routerLink="/login">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-button-toggle-group class="navbar-option">
        <mat-button-toggle routerLink="/game/mi-equipo">Mi Equipo</mat-button-toggle>
        <mat-button-toggle routerLink="/game/mercado">Mercado</mat-button-toggle>
        <mat-button-toggle routerLink="/game/ligas">Ligas</mat-button-toggle>
        <mat-button-toggle routerLink="/game/como-jugar">Cómo Jugar</mat-button-toggle>
    </mat-button-toggle-group>

    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="/account/perfil">
      <mat-icon>favorite</mat-icon>
    </button>

  </mat-toolbar>
