<div class="contenedor-tutorial">
  <!-- Navegación lateral -->
  <div class="navegacion-tutorial">
    <ul>
      <li><a (click)="scrollTo('funcionamiento')">{{ 'toolbar.comoJugar' | translate }}</a></li>
      <li><a (click)="scrollTo('equipo')">{{ 'toolbar.miEquipo' | translate }}</a></li>
      <li><a (click)="scrollTo('mercado')">{{ 'toolbar.mercado' | translate }}</a></li>
      <li><a (click)="scrollTo('ligas')">{{ 'toolbar.ligas' | translate }}</a></li>
      <li><a (click)="scrollTo('perfil')">{{ 'toolbar.perfil' | translate }}</a></li>
    </ul>
  </div>

  <!-- Contenido del tutorial -->
  <div class="contenido-tutorial">
    <section id="bienvenida">
      <h2>{{ 'tutorial.welcome' | translate }}</h2>
      <p>{{ 'tutorial.intro1' | translate }}</p>
      <p>{{ 'tutorial.intro2' | translate }}</p>
    </section>

    <section id="funcionamiento">
      <h3>{{ 'tutorial.functioningTitle' | translate }}</h3>
      <p>{{ 'tutorial.functioningText1' | translate }}</p>
      <p>{{ 'tutorial.functioningText2' | translate }}</p>
    </section>

    <section id="equipo">
      <h3>{{ 'tutorial.teamTitle' | translate }}</h3>
      <p>{{ 'tutorial.teamText1' | translate }}</p>
      <p>{{ 'tutorial.teamText2' | translate }}</p>
      <p>{{ 'tutorial.teamText3' | translate }}</p>
    </section>

    <section id="mercado">
      <h3>{{ 'tutorial.marketTitle' | translate }}</h3>
      <p>{{ 'tutorial.marketText1' | translate }}</p>
      <p>{{ 'tutorial.marketText2' | translate }}</p>
      <p>{{ 'tutorial.marketText3' | translate }}</p>
    </section>

    <section id="ligas">
      <h3>{{ 'tutorial.leaguesTitle' | translate }}</h3>
      <p>{{ 'tutorial.leaguesText1' | translate }}</p>
      <p>{{ 'tutorial.leaguesText2' | translate }}</p>
      <p>{{ 'tutorial.leaguesText3' | translate }}</p>
    </section>

    <section id="perfil">
      <h3>{{ 'tutorial.profileTitle' | translate }}</h3>
      <p>{{ 'tutorial.profileText1' | translate }}</p>
      <p>{{ 'tutorial.profileText2' | translate }}</p>
      <p>{{ 'tutorial.profileText3' | translate }}</p>
    </section>
  </div>
</div>
