.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 16px;
    margin-bottom: 32px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px;
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 16px;
    text-align: center;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    transition: transform 0.2s ease;
  }
  
  .card:hover {
    transform: scale(1.03);
  }
  