<div class="presupuesto-info" *ngIf="presupuesto !== null">
  <p><strong>Presupuesto disponible:</strong> {{ presupuesto | currency:'EUR' }}</p>
</div>


<mat-tab-group animationDuration="500ms">
  <mat-tab label="Pilotos">
    <div class="grid-container">
      <div *ngFor="let piloto of pilotos" class="card" (click)="abrirPopup('piloto', piloto)">
        <img [src]="piloto.bandera" alt="bandera" width="30" />
        <p><strong>{{ piloto.nombre }}</strong></p>
        <p>{{ piloto.precio | number:'1.2-2' }} €</p>
        <p><Strong>{{ piloto.puntos_totales}}</Strong> pts</p>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Copilotos">
    <div class="grid-container">
      <div *ngFor="let copiloto of copilotos" class="card" (click)="abrirPopup('copiloto', copiloto)">
        <img [src]="copiloto.bandera" alt="bandera" width="30" />
        <p><strong>{{ copiloto.nombre }}</strong></p>
        <p>{{ copiloto.precio | number:'1.2-2' }} €</p>
        <p><Strong>{{ copiloto.puntos_totales}}</Strong> pts</p>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Coches">
    <div class="grid-container">
      <div *ngFor="let coche of coches" class="card" (click)="abrirPopup('coche', coche)">
        <img [src]="coche.imagen" alt="coche" width="100" />
        <p><strong>{{ coche.modelo }}</strong></p>
        <p>{{ coche.precio | number:'1.2-2' }} €</p>
        <p><Strong>{{ coche.puntos_totales}}</Strong> pts</p>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>

<!-- Modal flotante -->
<div class="overlay" *ngIf="elementoSeleccionado" (click)="cerrarPopup()">
  <div class="popup" (click)="$event.stopPropagation()">
    <img [src]="elementoSeleccionado.bandera || elementoSeleccionado.imagen" width="60" />
    <p><strong>{{ elementoSeleccionado.nombre || elementoSeleccionado.modelo }}</strong></p>
    <p>{{ elementoSeleccionado.precio | currency }}</p>
    <button *ngIf="tipoSeleccionado === 'coche'" (click)="comprar()">Comprar</button>
    <button *ngIf="tipoSeleccionado !== 'coche'" (click)="comprar()">Contratar</button>
    <button (click)="cargarHistorialElemento()">Ver historial</button>

    <!-- Historial desplegable -->
    <div *ngIf="mostrarHistorial && historialElemento.length > 0" class="historial-box">
      <h4>Historial</h4>
      <div *ngFor="let item of historialElemento" class="historial-item">
        <p><strong>Rally:</strong> {{ item.rally_nombre }}</p>
        <p><strong>Equipo:</strong> {{ item.equipo }}</p>
        <p><strong>Posición:</strong> {{ item.posicion !== null ? item.posicion : 'Fuera del TOP10' }}</p>
        <p><strong>Puntos:</strong> {{ item.puntos }}</p>
        <hr />
      </div>
    </div>

    <div *ngIf="mostrarHistorial && historialElemento.length === 0">
      <p>No hay historial disponible.</p>
    </div>

  </div>
</div>
