<div class="liga-container">
  <!-- Crear nueva liga -->
  <div>
    <button (click)="abrirPopupCrearLiga()" class="crear-liga">Crear Nueva Liga</button>
  </div>

  <!-- Mostrar todas las ligas -->
  <div *ngIf="todasLigas.length > 0">
    <div class="liga-fila" *ngFor="let liga of todasLigas">
      <div class="liga-info">
        <span>{{ liga.nombre }}</span>
        <span><strong>Dueño:</strong> {{ liga["dueño"] }}</span>
        <span><strong>Nº participantes:</strong> {{ liga.total_participantes }}</span>
      </div>

      <div class="buttonsLeague">
      <button class="btn-inspeccionar" (click)="irADetalleLiga(liga)">Inspeccionar</button>
      <button class="btn-unirse" (click)="mostrarPopupUnirse(liga)">Unirse</button>
      </div>
    </div>
  </div>

  <!-- Popup dinámico -->
  <div class="overlay" *ngIf="mostrarPopup" (click)="cerrarPopup()">
    <div class="popup" (click)="$event.stopPropagation()">
      <ng-container *ngIf="tipoPopup === 'crear'">
        <h3>Crear Liga</h3>
        <input type="text" [(ngModel)]="nombreNuevaLiga" placeholder="Nombre de la liga" />
        <button (click)="crearLiga()">Crear</button>
      </ng-container>

      <ng-container *ngIf="tipoPopup === 'unirse'">
        <h3>Unirse a la Liga</h3>
        <p><strong>{{ ligaIdParaUnirse?.nombre }}</strong></p>
        <input type="text" [(ngModel)]="codigoUnirse" placeholder="Código de la liga" />
        <button (click)="unirseConCodigo()">Unirse</button>
      </ng-container>
    </div>
  </div>
</div>
